fastapi==0.115.6
uvicorn[standard]==0.34.0
gunicorn==23.0.0
python-dotenv==1.0.1
pydantic==2.10.4
pydantic-settings==2.7.1
python-telegram-bot==21.10
websocket-client==0.56.0
iqoptionapi @ https://github.com/iqoptionapi/iqoptionapi/archive/refs/heads/master.zip
